:root {
  --main-font: 'Anonymous Pro', monospace;
  --purple: #462255;
  --dark-rose: #AA4465;
  --blue-green: #93E1D8;
  --light-blue-green: #DDFFF7;
}

body {
  font-family: 'Anonymous Pro', monospace;
  background-color: var(--purple);
  color: var(--light-blue-green);
}

.menu {
  list-style-type: none;
  border-bottom: solid 2px var(--dark-rose);
}

a {
  text-decoration: none;
  color: var(--light-blue-green);
}